# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Insert markdown cells
- List languages for Data Science
- List Data science tools
- Evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. SQL 
4. Julia 
5. Spark 
6. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. Scikit-learn
5. Keras

|Data Science Tools|
| -------------|
|RStudio|
|Jupyter Lab|
|Spyder|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2: Author: 
Monica Robles